@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
/* import fonts */
@font-face {
  font-family: 'marsh';
  src: url('/fonts/marsh.otf') format('truetype');
}

* {
  font-family: 'marsh', sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100%;
  width: 100%;
  display: block;
  touch-action: none; /* Disable touch events on the canvas */
}
/* CSS for the level and settings button */
.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* background: linear-gradient(to top right, #160fff, #07fff9); */
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.setting {
  height: 60px;
  margin-right: 40px;
  animation: spiner 20s linear infinite;
}
/* CSS for the red box */
.spin {
  background: linear-gradient(to top right, #160fff, #07fff9);
  position: fixed;
  bottom: 200px;
  left: 160px;
  height: 300px;
  width: 300px;
  animation: spiner 3s linear infinite;
  border-radius: 50%;
}
@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tag {
  color: #07fff9; /* Set the text color */
  text-shadow: 0 0 10px #07fff9, 0 0 20px #07fff9, 0 0 30px #07fff9,
    0 0 40px #07fff9, 0 0 50px #07fff9, 0 0 60px #07fff9, 0 0 70px #07fff9; /* Create the glow effect */
  animation: glow 5s ease-in-out infinite alternate; /* Set the animation */
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #07fff9, 0 0 20px #07fff9, 0 0 30px #07fff9,
      0 0 40px #07fff9, 0 0 50px #07fff9, 0 0 60px #07fff9, 0 0 70px #07fff9; /* Set the initial shadow */
  }

  to {
    text-shadow: 0 0 20px #07fff9, 0 0 30px #07fff9, 0 0 40px #07fff9,
      0 0 50px #07fff9, 0 0 60px #07fff9, 0 0 70px #07fff9, 0 0 80px #07fff9; /* Set the final shadow */
  }
}

.blink {
  animation: blinker 5s infinite;
}

@keyframes blinker {
  from {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}
.joystick-container {
  position: fixed;
  bottom: 199px;
  left: 160px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#shamstick {
  position: absolute;
}
#stick1 {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 63px;
  top: 63px;
  background: linear-gradient(to top right, #160fff, #07fff9);
  border-radius: 50%;
}

.joystickred {
  opacity: 0.8;
}
.level {
  font-weight: bold;
  color: #07fff9;
}
  /* Styling for the popup overlay */
  .setting-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  
  /* Styling for the popup box */
  .setting-box {
    display: flex;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 1000px;
    background: #191c29;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    color: #07fff9;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .setting-box::before {
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(
      var(--rotate)
      , #07fff9, #3c67e3 43%, #160fff);
      position: absolute;
      z-index: -1;
      animation: spin 2.5s linear infinite;
  }
  .setting-box::after {
    position: absolute;
    border-radius: 10px;
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.98);
    filter: blur(calc(var(--card-height) / 6));
    background: #191c29;
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  .setting-box img {
    height: 150px;
    padding-top: 20px;
  }
  .setting-box h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    color: #160fff;
    text-decoration: underline;
  }  
  .setting-box p {
    font-size: 22px;
  }
  /* Styling for the close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    font-size: 48px;
  }
  

